<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template Title</title>
    <link rel="icon" href="/assets/logos/cat eye.svg" type="image/svg+xml">

    <link href="/styles/main.css" rel="stylesheet" type="text/css" media="all">

    <script src="/js/crt-overlay.js" type="module"></script>
    <script src="/js/page-transition.js" type="module"></script>
    <script src="/js/animations.js" type="module"></script>
    <script src="/js/code-element.js" type="module"></script>
  </head>
  <body>
    <div class="nav-container">
      <a class="nav-left" href="/index.html">* [return home]</a>
      <a class="nav-middle" href="/settings.html">% [settings]</a>
      <a class="nav-right" href="./">^ [go up]</a>
    </div>

    <p class="post-description">
      > 20XX-XX-XX
      <br>
      > <a href="https://github.com/wired-maya/">GitHub Link</a>
    </p>

    <h1 class="post-title">Template Title</h1>
    <p>
      Here I am describing the title. It's a pretty self explanatory title in my opinion.
    </p>

    <h2 class="left-align">First thing</h2>
    <p>
        Hey, how did you get here anyway? Assuming you're a visitor. Well, here's a template for
        a post.
        <br><br>
        <img src="/assets/test img.png", class="diagram">
        <span class="description">
          I use this image to test. It's called "test img.png" in fact.
        </span>
    </p>

    <h3 class="left-align">A question</h3>
    <p>
        You know, now that you're here, what's your favourite colour? Mine is, well purple!
    </p>
    
    <h2 class="left-align">Purple</h2>
    <p>
      It's so pretty.
      <span class="code-container html-code-container">
        <button class="code-copy-button" onclick="window.copyCode(this)">Copy</button>
        <span class="code-content">&lt;!-- Template for this very code block --&gt;
&lt;span class=&quot;code-container
            css-code-container&quot;&gt;
        &lt;button class=&quot;code-copy-button&quot;
            onclick=&quot;window.copyCode(this)&quot;&gt;
            Copy
        &lt;/button&gt;
        &lt;span class=&quot;code-content&quot;&gt;&lt;/span&gt;
&lt;/span&gt;</span>
      </span>
    </p>

    <h2 class="left-align">Hey hey hurray! Here's the conclusion &gt;u&lt;</h2>
    <p>
      Yeah I still like titling things "conclusion", what of it?
    </p>

    <div class="page-says-goodbye">BYE BYE!</div>
  </body>
</html>