<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wired_maya's Home</title>
    <link rel="icon" href="/assets/logos/cat eye.svg" type="image/svg+xml">

    <link href="/styles/main.css" rel="stylesheet" type="text/css" media="all">

    <script src="/js/crt-overlay.js" type="module"></script>
    <script src="/js/page-transition.js" type="module"></script>
    <script src="/js/animations.js" type="module"></script>
  </head>
  <body>
    <div class="nav-container">
      <a class="nav-left" href="/index.html">* [return home]</a>
      <a class="nav-middle" href="/settings.html">% [settings]</a>
      <a class="nav-right" href="../">^ [go up]</a>
    </div>
  </body>
</html>