<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="icon" href="/assets/logos/cat eye.svg" type="image/svg+xml">

    <link href="/styles/main.css" rel="stylesheet" type="text/css" media="all">
    <script src="/js/crt-overlay.js" type="module"></script>
  </head>
  <body>
    <div class="nav-container">
      <a href="/index.html">* [return home]</a>
      <a href="./">^ [go up]</a>
    </div>
    <div class="background-skewed">
      <img class="page-logo" src="/assets/logos/cat eye.svg">
    </div>
    <h1 class="left-align">Maya</h1>
    <p>
      Country of Origin: <br><br>
      Motto: <br><br>
      Inspiration(s): <br><br>
      <br>
      Description and so on.
    </p>
  </body>
</html>