/* Constants */
:root {
  /* Main colours */
  --primary: #CD23B9;
  --secondary: #730064;
  --accent: #CD23B9;
  --accent-bright: #FFFFFF;
  --background: #1D0021;
  --background-bright: #3B0034;

  /* Lengths */
  --border-thickness: 2px;
  --corner-radius: 64px;

  /* Font sizes */
  --font-large: 70px;
  --font-medium: 55px;
  --font-small: 35px;
  --font-very-small: 28px;

  /* CRT colours */
  --crt-dark: #000000FF;
  --crt-transparent: #00000000;
  --crt-flicker-colour: #12101033;
  --crt-phosphor-red: #FF3100;
  --crt-phosphor-green: #83FF00;
  --crt-phosphor-blue: #007CFF;

  /* CRT anim properties */
  --crt-anim-jitter-diff: 1px;
  --crt-anim-jitter-diff-page-load: 75px;

  /* Other CRT properties */
  --crt-pre-blur: 1px;
  --crt-post-brightness: 1.5;

  /* Timing */
  --transition-duration: 150ms;
  --transition-decay-duration: 750ms;
}

html {
  background-color: var(--background);
}

::selection {
  background: var(--accent);
  color: var(--accent-bright);
}

* {
  font-family: 'Caskaydia Cove Nerd Font', monospace;

  /* Transition followed when exiting hover */
  transition-property: color, background-color, border-color, outline-color, width;
  transition-duration: var(--transition-decay-duration);
  transition-timing-function: ease-out;

  &:hover {
    /* Transition followed when entering hover */
    transition-duration: var(--transition-duration);
  }

  &:active {
    transition-duration: var(--transition-duration);
  }

  &:disabled {
    transition-duration: var(--transition-duration);
  }
}

/* #region Caskaydia Cove Nerd Font Definition*/

@font-face {
  font-family: "Caskaydia Cove Nerd Font";
  src: url(/assets/fonts/caskaydia-cove-nerd-font/CaskaydiaCoveNerdFont-ExtraLight.ttf);
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Caskaydia Cove Nerd Font";
  src: url(/assets/fonts/caskaydia-cove-nerd-font/CaskaydiaCoveNerdFont-Light.ttf);
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Caskaydia Cove Nerd Font";
  src: url(/assets/fonts/caskaydia-cove-nerd-font/CaskaydiaCoveNerdFont-SemiLight.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Caskaydia Cove Nerd Font";
  src: url(/assets/fonts/caskaydia-cove-nerd-font/CaskaydiaCoveNerdFont-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Caskaydia Cove Nerd Font";
  src: url(/assets/fonts/caskaydia-cove-nerd-font/CaskaydiaCoveNerdFont-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Caskaydia Cove Nerd Font";
  src: url(/assets/fonts/caskaydia-cove-nerd-font/CaskaydiaCoveNerdFont-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Caskaydia Cove Nerd Font";
  src: url(/assets/fonts/caskaydia-cove-nerd-font/CaskaydiaCoveNerdFont-ExtraLightItalic.ttf);
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Caskaydia Cove Nerd Font";
  src: url(/assets/fonts/caskaydia-cove-nerd-font/CaskaydiaCoveNerdFont-LightItalic.ttf);
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Caskaydia Cove Nerd Font";
  src: url(/assets/fonts/caskaydia-cove-nerd-font/CaskaydiaCoveNerdFont-SemiLightItalic.ttf);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Caskaydia Cove Nerd Font";
  src: url(/assets/fonts/caskaydia-cove-nerd-font/CaskaydiaCoveNerdFont-Italic.ttf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Caskaydia Cove Nerd Font";
  src: url(/assets/fonts/caskaydia-cove-nerd-font/CaskaydiaCoveNerdFont-SemiBoldItalic.ttf);
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Caskaydia Cove Nerd Font";
  src: url(/assets/fonts/caskaydia-cove-nerd-font/CaskaydiaCoveNerdFont-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}

/* #endregion */

/* #region Property Definitions */

@property --jitter-diff {
  syntax: "<length> | <percentage>";
  inherits: false;
  initial-value: 0px;
}

/* #endregion */

/* #region Tag Styling */

body {
  max-width: min(100vw, 1400px);
  margin: 0 auto 0 auto;
  overflow-x: hidden;

  text-align: center;

  background-color: var(--background);
  color: var(--primary);
}

h1 {
  font-size: var(--font-large);
  margin-left: 1em;
  margin-right: 1em;
}

h2 {
  font-size: var(--font-medium);
  margin-left: 1em;
  margin-right: 1em;
}

h3 {
  font-size: var(--font-small);
  margin-left: 1em;
  margin-right: 1em;
}

p {
  font-size: var(--font-small);
  margin-left: 3em;
  margin-right: 3em;
  text-align: left;
}

a {
  position: relative;
  border-radius: 2em;

  transition-delay: 250ms;

  color: var(--primary);
  
  &::before {
    content: "";

    position: absolute;
    width: calc(100% + 1em);
    height: 2em;
    top: -0.5em;
    left: -0.5em;
    border-radius: 2em;
    z-index: -1;

    transition-property: background-color;
    transition-duration: var(--transition-decay-duration);
    transition-timing-function: ease-out;
    transition-delay: 250ms;

    background-color: transparent;
  }

  &::after {
    content: "";

    position: fixed;
    height: 2em;
    left: calc(50% - 50vw);
    transform: translateY(-0.5em);
    border-radius: 2em;

    background-color: var(--background-bright);
  }

  &:hover {
    color: var(--background);
  }

  &:hover::before {
    transition-duration: var(--transition-duration);
    background-color: var(--secondary);
  }
}

fieldset {
  font-size: var(--font-small);

  display: grid;
  gap: 2em;
  padding: 1.5em;
  
  border: var(--border-thickness) solid var(--primary);
  border-radius: var(--corner-radius);

  &:disabled {
    border-color: var(--secondary);
    color: var(--secondary);
  }
}

fieldset + fieldset {
  margin-top: 2em;
}

legend {
  padding: 0.5em;
  height: 1em;

  border: var(--border-thickness) solid var(--primary);
  border-radius: var(--corner-radius);

  background: var(--background);
  color: var(--primary);
}

/* For labels that have child inputs */
label {
  display: flex;
  justify-content: space-between;
  height: 1em;
  text-align: start;

  /* Aligns label with bottom of the flex, making it look better with the descriptions */
  align-items: end;
}

button {
  font-size: inherit;
  box-sizing: content-box;
  height: 1em;
  padding: 0.5em;

  border: var(--border-thickness) solid var(--primary);
  border-radius: var(--corner-radius);

  background: var(--background);
  color: var(--primary);

  &:hover {
    background-color: var(--background-bright);
  }

  &:active {
    background-color: var(--secondary);
    border-color: var(--secondary);
    color: var(--background);
  }

  &:disabled {
    border-color: var(--secondary);
    color: var(--secondary);
  }
}

input, select {
  font-size: inherit;
  box-sizing: content-box;
  height: 1em;
  padding: 0.5em;

  border: var(--border-thickness) solid var(--primary);
  border-radius: 2em;

  background: var(--background);
  color: var(--primary);

  caret-color: var(--background);
  caret-shape: block; /* Only works on Chrome, but still cool */

  /* Remove any outline the browser gives */
  outline: none;

  &:disabled {
    border-color: var(--secondary);
    color: var(--secondary);
  }

  &:hover {
    background-color: var(--background-bright);
  }

  &:focus {
    font-weight: 900;
    
    background-color: var(--secondary);
    border-color: var(--secondary);
    color: var(--background);
  }
}

/* Disable unstylable spinner arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Disable unstylable spinner arrows */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="range"] {
  width: 12em;
  height: 1em;
  margin: 0em;

  /* Remove browser specific stylings */
  -webkit-appearance: none;
  appearance: none;

  /* Style the element that contains the range */
  background: var(--background);
  cursor: pointer;  

  &::-moz-range-track {
    height: 1em;
    border-radius: 1em;
    
    background: var(--background-bright);
  }

  /* Selecting multiple elements doesn't work with nesting in Chrome */
  &::-webkit-slider-runnable-track {
    height: 1em;
    border-radius: 1em;
    
    background: var(--background-bright);
  }

  &::-moz-range-thumb {
    width: 1em;
    height: 1em;
    

    border: none; /* Removes extra border that FF applies */
    border-radius: 1em;

    /* Set outline properties here to just change colour later */
    outline: var(--border-thickness) solid transparent;
    outline-offset: 0.5em;

    background: var(--secondary);
  }

  &::-webkit-slider-thumb {
    width: 1em;
    height: 1em;

    /* Remove browser specific decorations */
    -webkit-appearance: none;
    appearance: none;

    border-radius: 1em;

    outline: var(--border-thickness) solid transparent;
    outline-offset: 0.5em;

    background: var(--secondary);
  }

  &:hover {
    &::-moz-range-thumb {
      background-color: var(--secondary);
      outline-color: var(--secondary);
    }
    
    &::-webkit-slider-thumb {
      background-color: var(--secondary);
      outline-color: var(--secondary);
    }
  }

  &:focus {
    &::-moz-range-thumb {
      background-color: var(--primary);
      outline-color: var(--primary);
    }

    &::-webkit-slider-thumb {
      background-color: var(--primary);
      outline-color: var(--primary);
    }
  }
}

input[type="checkbox"] {
  height: 1em;
  width: 1em;
  margin: 0em;
  padding: 0em;

  /* Remove browser specific decorations */
  -webkit-appearance: none;
  appearance: none;

  /* Set base shape */
  border: none;
  border-radius: 1em;

  /* Background colour denotes checkbox state */
  background: var(--background-bright);

  /* Set outline properties here to just change colour later */
  outline: var(--border-thickness) solid transparent;
  outline-offset: 0.5em;

  &:hover {
    background-color: var(--secondary);
    outline-color: var(--secondary);
  }

  &:checked {
    background-color: var(--background);
    outline-color: var(--background);
  }
}

/* Labels need padding too you know! */
label input[type="checkbox"] {
  margin-left: 1em;
}

/* #endregion */

/* #region Utility Classes */

.centre {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-align {
  margin-left: 1em;
  margin-right: 1em;
  text-align: left;
}

.left-indent {
  padding-left: 2em;
}

/* Stretches implementing div over entire viewport so it acts as a filter */
.screen-filter {
  content: " ";
  display: block;
  position: fixed;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  width: 100vw;
  height: 100vh;

  pointer-events: none;
  z-index: 10;
}

/* #endregion */

/* #region Component Styling */

.page-logo {
  min-width: 20vw;
  width: 20em;
  max-width: 40vw;
}

.background-skewed {
  position: relative;
  display: inline-block;
  
  margin-top: 6em;
  margin-bottom: 6em;

  &::before {
    content: " ";

    position: absolute;
    width: 130%;
    height: 200%;
    top: -50%;
    left: -15%;
    border-radius: 1000em; /* No better way to do this it seems */
    z-index: -1;
    transform: rotate(0.9rad);

    background-color: var(--background-bright);
  }
}

.gallery-img {
  width: 60%;
  padding: 2em;
}

/* Container for navigation links at the top */
.nav-container {
  font-size: 35px;
  font-weight: 900;
  
  display: flex;
  justify-content: left;
  margin-bottom: 2em;
  z-index: -1;

  white-space: nowrap;
}

.nav-left, .nav-middle, .nav-right {
  /* Make these links unique */
  all: unset;

  margin-left: -2em;
  padding: 0.5em 1em;
  padding-left: 3em;

  transition: padding 250ms ease-in-out;

  &::before {
    all: unset;
    
  }
  &::after {
    all: unset;
  }

  &:hover {
    padding-right: 7em;
    cursor: pointer;
  }
}

.nav-left {
  /* All corners have radius so when the max width of the body is reached,
     it still has a pleasing appearance */
  border-radius: 2em;
  z-index: 2;
  
  background-color: var(--primary);
  color: var(--background);
}

.nav-middle {
  z-index: 1;

  border-bottom-right-radius: 2em;
  border-top-right-radius: 2em;

  background-color: var(--secondary);
  color: var(--background);
}

.nav-right {
  z-index: 0;
  
  background-color: var(--background-bright);
  border-bottom-right-radius: 2em;
  border-top-right-radius: 2em;

  &:hover {
    color: var(--primary);
  }
}

.legend-enabled {
  background-color: var(--secondary);
  border-color: var(--secondary);
  color: var(--background);

  font-weight: 900;
}

.setting-description {
  font-size: var(--font-very-small);
  text-wrap: balance;

  margin: 0.5em 2em 0 2em;

  color: var(--secondary);
}

.button {
  font-size: var(--font-small);
  display: inline-block;
  
  text-align: center;
  text-decoration: none;

  padding: 0;
  border: none;

  background-color: var(--background);
  color: var(--primary);
  
  cursor: pointer;
}

/* #endregion */

/* #region Element Animations */

/* Add class to the element programmatically to start animation */
.animate-width-scrub::after {
  animation: width-scrub-anim-after 500ms ease-in-out;
}

@keyframes width-scrub-anim-after {
  0% {
    width: 0;
    left: calc(50% - 50vw);
  }
  50% {
    width: 100vw;
    left: calc(50% - 50vw);
  }
  100% {
    width: 0;
    left: calc(50% + 50vw);
  }
}

/* #endregion */

/* #region CRT Filter */

/* Opacity of content burnt in to CRT */
.crt-burnt-in {
  opacity: 0.02;
}

/* Flicker */
.crt-flicker {
  opacity: 0;
  background: var(--crt-flicker-colour);
  
  animation: crt-anim-flicker 0.15s infinite;
}

/*
  Uses phosphor wavelengths from real CRTs, specifically the set of P22 phosphors for colour CRT displays

  Sources:
    Phosphor wavelengths: https://www.labguysworld.com/crt_phosphor_research.pdf
    Wavelength to RGB converter, by an optics company: https://syronoptics.com/blogs/tools/wavelength-to-color-converter
    Idea: https://publish.obsidian.md/xybre/permalink/e397c38e-aa6f-45eb-831f-f02a3836abc4
*/
.crt-triad-mask {
  /* Recreation of dot mask's phosphor layout */
  background-size: 6px 3px;
  background-blend-mode: overlay;
  background-image:
    linear-gradient(
      var(--crt-dark)
    ),
    radial-gradient(
      circle
      closest-side at 10% 35%,
      var(--crt-phosphor-green) 100%, /* 526 nm */
      var(--crt-transparent) 100%
    ),
    radial-gradient(
      circle
      closest-side at 40% 30%,
      var(--crt-phosphor-blue) 80%, /* 526 nm */
      var(--crt-transparent) 80%
    ),
    radial-gradient(
      circle
      closest-side at 30% 80%,
      var(--crt-phosphor-red) 100%, /* 526 nm */
      var(--crt-transparent) 100%
    ),
    radial-gradient(
      circle
      closest-side at 60% 80%,
      var(--crt-phosphor-green) 100%, /* 526 nm */
      var(--crt-transparent) 100%
    ),
    radial-gradient(
      circle
      closest-side at 90% 75%,
      var(--crt-phosphor-blue) 100%, /* 526 nm */
      var(--crt-transparent) 100%
    ),
    radial-gradient(
      circle
      closest-side at 75% 35%,
      var(--crt-phosphor-red) 65%, /* 526 nm */
      var(--crt-transparent) 65%
    );
  
  /* Apply colours to content behind */
  mix-blend-mode: multiply;
}

.crt-slot-mask {
  /* Recreation of shadow mask's phosphor layout */
  background-size: 8px 4px;
  background-blend-mode: overlay;
  background-image:
    linear-gradient(
      to right,
      var(--crt-dark) 10%, /* Left padding end */
      var(--crt-phosphor-red) 10% 30%, /* 643 nm */
      var(--crt-dark) 30% 40%,
      var(--crt-phosphor-green) 40% 60%, /* 526 nm */
      var(--crt-dark) 60% 70%,
      var(--crt-phosphor-blue) 70% 90%, /* 450 nm */
      var(--crt-dark) 90% /* Right padding start */
    ),
    linear-gradient(
      to bottom,
      var(--crt-transparent) 70%,
      var(--crt-dark) 70%
    );
  
  /* Apply colours to content behind */
  mix-blend-mode: multiply;
}

/* Blur before the CRT mask to increase colour clarity and simulate phosphor glow */
.crt-pre-blur {
  backdrop-filter: blur(var(--crt-pre-blur))
}

/* Adjust brightness of screen to preserve colours */
.crt-post-brightness {
  backdrop-filter: brightness(var(--crt-post-brightness));
}

/* Simulate visual artefact of interlacing jitter */
/* Since this is painful to look at for long stretches of time,
   It is being used sparingly for specific content instead of
   the entire site. */
.crt-interlacing-jitter {
  --jitter-diff: var(--crt-anim-jitter-diff);

  animation: crt-anim-jitter-diff-anim 250ms ease-out, crt-anim-interlacing-jitter 100ms infinite;
  animation-composition: add;
}

@keyframes crt-anim-flicker {
  0% {
    opacity: 0.27861;
  }

  5% {
    opacity: 0.34769;
  }

  10% {
    opacity: 0.23604;
  }

  15% {
    opacity: 0.90626;
  }

  20% {
    opacity: 0.18128;
  }

  25% {
    opacity: 0.83891;
  }

  30% {
    opacity: 0.65583;
  }

  35% {
    opacity: 0.67807;
  }

  40% {
    opacity: 0.26559;
  }

  45% {
    opacity: 0.84693;
  }

  50% {
    opacity: 0.96019;
  }

  55% {
    opacity: 0.08594;
  }

  60% {
    opacity: 0.20313;
  }

  65% {
    opacity: 0.71988;
  }

  70% {
    opacity: 0.53455;
  }

  75% {
    opacity: 0.37288;
  }

  80% {
    opacity: 0.71428;
  }

  85% {
    opacity: 0.70419;
  }

  90% {
    opacity: 0.7003;
  }

  95% {
    opacity: 0.36108;
  }

  100% {
    opacity: 0.24387;
  }
}

@keyframes crt-anim-jitter-diff-anim {
  0% {
    transform: translateY(var(--crt-anim-jitter-diff-page-load));
  }
  5% {
    transform: translateY(calc(var(--crt-anim-jitter-diff-page-load) * -0.9));
  }
  10% {
    transform: translateY(calc(var(--crt-anim-jitter-diff-page-load) * 0.8));
  }
  15% {
    transform: translateY(calc(var(--crt-anim-jitter-diff-page-load) * -0.7));
  }
  25% {
    transform: translateY(calc(var(--crt-anim-jitter-diff-page-load) * 0.6));
  }
  35% {
    transform: translateY(calc(var(--crt-anim-jitter-diff-page-load) * -0.5));
  }
  45% {
    transform: translateY(calc(var(--crt-anim-jitter-diff-page-load) * 0.4));
  }
  55% {
    transform: translateY(calc(var(--crt-anim-jitter-diff-page-load) * -0.3));
  }
  70% {
    transform: translateY(calc(var(--crt-anim-jitter-diff-page-load) * 0.2));
  }
  85% {
    transform: translateY(calc(var(--crt-anim-jitter-diff-page-load) * -0.1));
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes crt-anim-interlacing-jitter {
  0% {
    transform: translateY(var(--jitter-diff));
  }
  100% {
    transform: translateY(0px);
  }
}

/* #endregion */