body {
  background-color: #1D0021;
  color: #CD23B9;
  font-family: 'Courier New', monospace;
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

::-moz-selection {
  color: #FFFFFF;
  background: #CD23B9;
}

::selection {
  color: #FFFFFF;
  background: #CD23B9;
}

a {
  color: #CD23B9;
}

.centre {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

p {
  margin: auto;
  max-width: 600px;
  text-align: left;
}

.back-button {
  position: absolute;
  top: 4px;
  left: 4px;
}

.button {
  background-color: #1D0021;
  border: none;
  color: #CD23B9;
  padding: 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

/*
CRT effect taken from:
  https://aleclownes.com/2017/02/01/crt-display.html
  https://stackoverflow.com/questions/371209/full-page-blur-in-css
  Plus some of my own modifications :p
*/

.screen-filter {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  pointer-events: none;
}

.burnt-in {
  opacity: 0.02;
}

/* Flicker */
.crt::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite;
  -webkit-animation: flicker 0.15s infinite;
}

/* Scan Lines */
.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

/* Blur */
.crt-content {
  /* Any browser which supports CSS3 */
  filter: blur(1px);

  /* Firefox version 34 and earlier */
  filter: url("assets/blur.svg#gaussian_blur");

  /* Webkit in Chrome 52, Safari 9, Opera 39, and earlier */
  -webkit-filter: blur(1px);
}

/* Simulate visual artefact of interlacing */
/* Since this is painful to look at for long stretches of time,
   It is being used sparingly for specific content instead of
   the entire site. */
.interlaced-content {
  animation: interlacing 0.10s infinite;
  -webkit-animation: interlacing 0.10s infinite;
}

@keyframes flicker {
  0% {
    opacity: 0.27861;
  }

  5% {
    opacity: 0.34769;
  }

  10% {
    opacity: 0.23604;
  }

  15% {
    opacity: 0.90626;
  }

  20% {
    opacity: 0.18128;
  }

  25% {
    opacity: 0.83891;
  }

  30% {
    opacity: 0.65583;
  }

  35% {
    opacity: 0.67807;
  }

  40% {
    opacity: 0.26559;
  }

  45% {
    opacity: 0.84693;
  }

  50% {
    opacity: 0.96019;
  }

  55% {
    opacity: 0.08594;
  }

  60% {
    opacity: 0.20313;
  }

  65% {
    opacity: 0.71988;
  }

  70% {
    opacity: 0.53455;
  }

  75% {
    opacity: 0.37288;
  }

  80% {
    opacity: 0.71428;
  }

  85% {
    opacity: 0.70419;
  }

  90% {
    opacity: 0.7003;
  }

  95% {
    opacity: 0.36108;
  }

  100% {
    opacity: 0.24387;
  }
}

@-webkit-keyframes flicker {
  0% {
    opacity: 0.27861;
  }

  5% {
    opacity: 0.34769;
  }

  10% {
    opacity: 0.23604;
  }

  15% {
    opacity: 0.90626;
  }

  20% {
    opacity: 0.18128;
  }

  25% {
    opacity: 0.83891;
  }

  30% {
    opacity: 0.65583;
  }

  35% {
    opacity: 0.67807;
  }

  40% {
    opacity: 0.26559;
  }

  45% {
    opacity: 0.84693;
  }

  50% {
    opacity: 0.96019;
  }

  55% {
    opacity: 0.08594;
  }

  60% {
    opacity: 0.20313;
  }

  65% {
    opacity: 0.71988;
  }

  70% {
    opacity: 0.53455;
  }

  75% {
    opacity: 0.37288;
  }

  80% {
    opacity: 0.71428;
  }

  85% {
    opacity: 0.70419;
  }

  90% {
    opacity: 0.7003;
  }

  95% {
    opacity: 0.36108;
  }

  100% {
    opacity: 0.24387;
  }
}

@keyframes interlacing {
  0% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0px);
  }
}

@-webkit-keyframes interlacing {
  0% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0px);
  }
}